        h1{
            background-color: chocolate;
            text-decoration: underline;
            font-family: "DejaVu Sans";
        }
        button{
            background-color: chocolate;
            font-family: Nakula;
        }
        body{
            background-color: beige;
        }
        form {
            background-color: beige;
            border: solid 3px;
            font-family: Nakula;
            background-color: peru;
            padding: 15px;
        }

        td{
            font-family: Nakula;
            background-color: chocolate;
        }
        th{
            background-color: gold;
        }
.banner{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    background-size: cover;
    background-position: center;



}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gold;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: purple;
    text-transform: uppercase;
}
*{
    margin: 0px;
    padding: 0;
    font-family: Nakula;
}
 .content{
     width: 1200px;
     height: auto;
     color: blue;
     position: relative;
     margin-left: 95px;
 }
 .content .par{
     padding-left: 10px;
     padding-bottom: 25px;
     font-family: Nakula;
     letter-spacing: 1.2px;
     line-height: 30px;
     font-size: 18px;
 }
.content h1{
    font-family: SansSerif;
    font-size: 60px;
    padding-left: 1px;
    margin-top: 2px;
    background-color: burlywood;
    text-align: left;
}
.content .cn{
    width: 100px;
    height: 40px;
    background-color: burlywood;
    border: none;
    font-size: 20px;
}
.content .cn a{
    text-decoration: none;

}
.content .cn:hover{
    background-color: greenyellow;
}
.content span{
    color: purple;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 350px;
    background-color: purple;
    position: absolute;
    top: 200px;
    left: 1300px;
    border-radius: 10px;
    padding-left: 25px;
}
.form h2{
    width: 210px;
    font-family: Nakula;
    text-align: center;
    font-size: 30px;
    background-color: purple;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
.form input{
    width: 210px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 1px;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: SansSerif;
    font-size: 12px;
}
.btn:hover{
    background: white;
}
.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;

}
.form .link{
    font-family: SansSerif;
    font-size: 18px;
    padding-top: 20px;
    text-align: left;
    color: peru;
}
.form a{
    text-decoration: none;
    color: blue;
    font-size: 22px;
}
.form .btn a{
    width: 100px;
}
.btn{
    width: 230px;
    border-radius: 10px;
}
.form p{
    color: greenyellow;
    font-size: 20px;

}


